* {
    margin: 0;
}

#baner {
    width: 100%;
    height: 50px;
}

.ikona {
    width: 20px;
    height: 20px;
}

#napis {
    position: relative;
    width: 100%;
    height: 2.2em;
    line-height: 2.2em;
    margin: 0 auto;
    border: 3px solid #201e1e;
    font-size: 1.5em;
    overflow: hidden;
    box-shadow: 0 0 50px green;
}

#napis > h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin: 0;
    color: lime;
    
    white-space: nowrap;
    animation: przesun 10s linear infinite;
    -webkit-animation: przesun 10s linear infinite; /* dla Google Chrome, Safari, Opera 15+ */
}

#napis > h1:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
  
  /* ------------ANIMACJA-PRZESUN------------ */
@keyframes przesun {
    0% { 
        transform:translateX(-100%); padding-left:110%; 
    }
    100% { 
        transform:translateX(0%); padding-left:110%; 
    }
}

@-webkit-keyframes przesun { /* dla Google Chrome, Safari, Opera 15+ */ 
    0% { 
        -webkit-transform:translateX(-100%); padding-left:110%; 
    }
    100% {
        -webkit-transform:translateX(0); padding-left:110%;
    }
}

#glowny {
    padding: 10px;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    min-height: 500px;
}

#stopka {

    width: 100%;
    height: 200px;
    box-shadow: 0 0 50px green;
}


#left {
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
    text-align:  left;
}

#middle {
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
}

#right {
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
    text-align: right;
}


a {
    color: rgb(126, 126, 126);
}

a:visited {
    color: gray;
}

.form-control {
    text-align: center;
}

.btn-default {
    color: white;
}

.btn-secondary {
    background-color: #212529;
}

.btn-primary {
    background-color: #212529;
}

.sticky-top {
    margin-top: 5%;
    background-color: #212529;
}

.dropdown {
    float: right;
    margin: 1%;
}



#promocja {
    float: left;
}

#stronaglowna {
    float: left;
}
 
img {
   height: 300px;
   width: 400px;
}



.odtwarzanie {
    width: 40px;
    height: 40px;
}

.blok {
    border: solid 1px black;
}

.przejscie {
    text-align: center;
    display: inline-block;
    margin-top: 1%;
}
